body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-menu-sub.ant-menu-inline{
  background-color: transparent !important;
  border-bottom: 1px solid #e4e9f0;
}

.custom-text-btn{
  color: black !important;
}
/*
!* width *!
*::-webkit-scrollbar {
  width: 3px;
}

!*auto hide*!
.scroll-panel{
  overflow-y: hidden;
}
.scroll-panel:hover{
  overflow-y: auto;
}

!* Track *!
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

!* Handle *!
*::-webkit-scrollbar-thumb {
  background: #888;
}

!* Handle on hover *!
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/
